body {

    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}



.bk-rgb
{
 background: #DFDDDD;
 /* margin: 1em auto; */  
border: 1px black solid;
 opacity: 0.67;
    
}

/* css portal */

.logo {
	width: 50%;
	display: block;
    margin: auto;
    margin-bottom: 7%;
}

.texthome{
    margin-top: 7%;


}



.seccion1{
    margin-top: 7%;
	background-color: #bdc3c7;
    padding: 2%;
    

}

.seccion2{
    margin-top: 2%;
	background-color: #bdc3c7;
    padding: 2%;
    margin-bottom: 5%;
    

}


.seccion3{
    margin-top: 5%;
    background-color: #000000;
    color: white;
    padding: 2%;
    

}


.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


.seccion3 .container .row .ubicacion{
    width: 35px;
    top: 20%;
}


.seccion3 .container .row .telefono{
    width: 35px;
    top: 20%;
}

.seccion3 .container .row .correo{
    width: 35px;
    top: 20%;
}